In [3]:
import csv
import numpy as np
import pandas as pd

In [5]:
# csv파일 불러오기

def file_open_by_numpy():
    # np.loadtxt(구분자 = ',', 데이터 타입: string)
    np_arr = np.loadtxt('test_data.CSV', delimiter=",", encoding='cp949', dtype=str)
    return np_arr

In [6]:
arr = file_open_by_numpy()
print(arr)

[['이름' '나이' '성별' '직업' '사는곳']
 ['김현우' '25' '남' '교수' '경상남도']
 ['이태현' '28' '여' '군인' '경상북도']
 ['박현준' '36' '남' '' '서울/경기']
 ['최성민' '34' '남' '리포터' '강원도']
 ['정준우' '45' '남' '모델' '강원도']
 ['김준혁' '67' '여' '개발자' '서울/경기']
 ['이지훈' '32' '여' '' '충청북도']
 ['박준영' '24' '남' '학원강사' '전라북도']
 ['최준서' '34' '여' '개발자' '강원도']
 ['정준호' '54' '남' '화가' '충청북도']
 ['김지은' '23' '여' '학원강사' '경상북도']
 ['이수진' '52' '여' '변호사' '전라북도']
 ['박지현' '64' '남' '개발자' '강원도']
 ['최은지' '' '여' '법무사' '서울/경기']
 ['정지원' '76' '남' '변호사' '강원도']
 ['김수빈' '54' '남' '학원강사' '충청북도']
 ['이은서' '25' '남' '판사' '경상북도']
 ['박지민' '34' '여' '개발자' '전라남도']
 ['최지연' '62' '여' '학원강사' '충청북도']
 ['정지윤' '15' '남' '검사' '서울/경기']
 ['김소은' '' '여' '검사' '전라남도']
 ['이서현' '34' '남' '미술가' '전라북도']
 ['박수진' '43' '여' '개발자' '전라남도']
 ['최윤지' '' '여' '' '전라북도']
 ['정은지' '65' '여' '학원강사' '경상북도']
 ['김하은' '78' '여' '게임기획자' '']
 ['이가영' '89' '남' '프로게이머' '서울/경기']
 ['박예린' '45' '남' '개발자' '제주도']
 ['최민서' '35' '남' '감정평가사' '경상북도']
 ['정은서' '67' '여' '개발자' '제주도']
 ['김태현' '17' '남' '빅데이터전문가' '전라북도']
 ['박현우' '81' '남' '' '제주도']
 ['이민지' '73' '여' '대학교수' '']
 ['박지우' '64' '여' '빅데이터전문가' '제주도']
 ['최수빈' '' '남' '대역배우' '서울/경기']
 ['정은혜' '75' '여' '학원강사' '전라남도']
 ['김지원' '34' '남' '도어맨' '서울/경기']
 ['이지영' '37' '여' '빅데이터전문가' '강원도']
 ['박지수' '54' '남' '패션모델' '충청남도']
 ['최승현' '26' '남' '휴대폰디자이너' '경상북도']
 ['정윤서' '47' '여' '웹디자이너' '충청남도']
 ['김태우' '23' '여' '개발자' '강원도']
 ['이지민' '' '여' '웹개발자' '경상북도']
 ['박수현' '74' '남' '' '서울/경기']
 ['최지훈' '25' '남' '건축가' '경상북도']
 ['정은우' '67' '남' '빅데이터전문가' '충청남도']
 ['풀스택' '37' '남' '모델' '서울/경기']
 ['프론트' '27' '' '건축가' '경상북도']
 ['백엔드' '36' '여' '개발자' '서울/경기']
 ['김장고' '43' '남' '개발자' '서울/경기']]

In [ ]:
type(arr)

In [7]:
# 데이터프레임으로 변환

df = pd.DataFrame(arr)
df

      0   1   2        3      4
0    이름  나이  성별       직업    사는곳
1   김현우  25   남       교수   경상남도
2   이태현  28   여       군인   경상북도
3   박현준  36   남           서울/경기
4   최성민  34   남      리포터    강원도
5   정준우  45   남       모델    강원도
6   김준혁  67   여      개발자  서울/경기
7   이지훈  32   여            충청북도
8   박준영  24   남     학원강사   전라북도
9   최준서  34   여      개발자    강원도
10  정준호  54   남       화가   충청북도
11  김지은  23   여     학원강사   경상북도
12  이수진  52   여      변호사   전라북도
13  박지현  64   남      개발자    강원도
14  최은지       여      법무사  서울/경기
15  정지원  76   남      변호사    강원도
16  김수빈  54   남     학원강사   충청북도
17  이은서  25   남       판사   경상북도
18  박지민  34   여      개발자   전라남도
19  최지연  62   여     학원강사   충청북도
20  정지윤  15   남       검사  서울/경기
21  김소은       여       검사   전라남도
22  이서현  34   남      미술가   전라북도
23  박수진  43   여      개발자   전라남도
24  최윤지       여            전라북도
25  정은지  65   여     학원강사   경상북도
26  김하은  78   여    게임기획자
27  이가영  89   남    프로게이머  서울/경기
28  박예린  45   남      개발자    제주도
29  최민서  35   남    감정평가사   경상북도
30  정은서  67   여      개발자    제주도
31  김태현  17   남  빅데이터전문가   전라북도
32  박현우  81   남             제주도
33  이민지  73   여     대학교수
34  박지우  64   여  빅데이터전문가    제주도
35  최수빈       남     대역배우  서울/경기
36  정은혜  75   여     학원강사   전라남도
37  김지원  34   남      도어맨  서울/경기
38  이지영  37   여  빅데이터전문가    강원도
39  박지수  54   남     패션모델   충청남도
40  최승현  26   남  휴대폰디자이너   경상북도
41  정윤서  47   여    웹디자이너   충청남도
42  김태우  23   여      개발자    강원도
43  이지민       여     웹개발자   경상북도
44  박수현  74   남           서울/경기
45  최지훈  25   남      건축가   경상북도
46  정은우  67   남  빅데이터전문가   충청남도
47  풀스택  37   남       모델  서울/경기
48  프론트  27          건축가   경상북도
49  백엔드  36   여      개발자  서울/경기
50  김장고  43   남      개발자  서울/경기

In [9]:
# 컬럼명 지정하기
columns=arr[0]
arr = np.delete(arr, 0, 0)
df = pd.DataFrame(arr, columns=columns)
df

     이름  나이 성별       직업    사는곳
0   김현우  25  남       교수   경상남도
1   이태현  28  여       군인   경상북도
2   박현준  36  남           서울/경기
3   최성민  34  남      리포터    강원도
4   정준우  45  남       모델    강원도
5   김준혁  67  여      개발자  서울/경기
6   이지훈  32  여            충청북도
7   박준영  24  남     학원강사   전라북도
8   최준서  34  여      개발자    강원도
9   정준호  54  남       화가   충청북도
10  김지은  23  여     학원강사   경상북도
11  이수진  52  여      변호사   전라북도
12  박지현  64  남      개발자    강원도
13  최은지      여      법무사  서울/경기
14  정지원  76  남      변호사    강원도
15  김수빈  54  남     학원강사   충청북도
16  이은서  25  남       판사   경상북도
17  박지민  34  여      개발자   전라남도
18  최지연  62  여     학원강사   충청북도
19  정지윤  15  남       검사  서울/경기
20  김소은      여       검사   전라남도
21  이서현  34  남      미술가   전라북도
22  박수진  43  여      개발자   전라남도
23  최윤지      여            전라북도
24  정은지  65  여     학원강사   경상북도
25  김하은  78  여    게임기획자
26  이가영  89  남    프로게이머  서울/경기
27  박예린  45  남      개발자    제주도
28  최민서  35  남    감정평가사   경상북도
29  정은서  67  여      개발자    제주도
30  김태현  17  남  빅데이터전문가   전라북도
31  박현우  81  남             제주도
32  이민지  73  여     대학교수
33  박지우  64  여  빅데이터전문가    제주도
34  최수빈      남     대역배우  서울/경기
35  정은혜  75  여     학원강사   전라남도
36  김지원  34  남      도어맨  서울/경기
37  이지영  37  여  빅데이터전문가    강원도
38  박지수  54  남     패션모델   충청남도
39  최승현  26  남  휴대폰디자이너   경상북도
40  정윤서  47  여    웹디자이너   충청남도
41  김태우  23  여      개발자    강원도
42  이지민      여     웹개발자   경상북도
43  박수현  74  남           서울/경기
44  최지훈  25  남      건축가   경상북도
45  정은우  67  남  빅데이터전문가   충청남도
46  풀스택  37  남       모델  서울/경기
47  프론트  27         건축가   경상북도
48  백엔드  36  여      개발자  서울/경기
49  김장고  43  남      개발자  서울/경기

In [11]:
# isna().sum() 함수를 통해 null값 개수 찾기(결측값이면 True 반환, 정상값이면 False반환)

df.isna().sum()

이름     0
나이     0
성별     0
직업     0
사는곳    0
dtype: int64

In [15]:
# 결측값을 NULL문자열로 치환
df.replace('', 'NULL', inplace=True)

In [16]:
#결과 확인
df

     이름    나이    성별       직업    사는곳
0   김현우    25     남       교수   경상남도
1   이태현    28     여       군인   경상북도
2   박현준    36     남     NULL  서울/경기
3   최성민    34     남      리포터    강원도
4   정준우    45     남       모델    강원도
5   김준혁    67     여      개발자  서울/경기
6   이지훈    32     여     NULL   충청북도
7   박준영    24     남     학원강사   전라북도
8   최준서    34     여      개발자    강원도
9   정준호    54     남       화가   충청북도
10  김지은    23     여     학원강사   경상북도
11  이수진    52     여      변호사   전라북도
12  박지현    64     남      개발자    강원도
13  최은지  NULL     여      법무사  서울/경기
14  정지원    76     남      변호사    강원도
15  김수빈    54     남     학원강사   충청북도
16  이은서    25     남       판사   경상북도
17  박지민    34     여      개발자   전라남도
18  최지연    62     여     학원강사   충청북도
19  정지윤    15     남       검사  서울/경기
20  김소은  NULL     여       검사   전라남도
21  이서현    34     남      미술가   전라북도
22  박수진    43     여      개발자   전라남도
23  최윤지  NULL     여     NULL   전라북도
24  정은지    65     여     학원강사   경상북도
25  김하은    78     여    게임기획자   NULL
26  이가영    89     남    프로게이머  서울/경기
27  박예린    45     남      개발자    제주도
28  최민서    35     남    감정평가사   경상북도
29  정은서    67     여      개발자    제주도
30  김태현    17     남  빅데이터전문가   전라북도
31  박현우    81     남     NULL    제주도
32  이민지    73     여     대학교수   NULL
33  박지우    64     여  빅데이터전문가    제주도
34  최수빈  NULL     남     대역배우  서울/경기
35  정은혜    75     여     학원강사   전라남도
36  김지원    34     남      도어맨  서울/경기
37  이지영    37     여  빅데이터전문가    강원도
38  박지수    54     남     패션모델   충청남도
39  최승현    26     남  휴대폰디자이너   경상북도
40  정윤서    47     여    웹디자이너   충청남도
41  김태우    23     여      개발자    강원도
42  이지민  NULL     여     웹개발자   경상북도
43  박수현    74     남     NULL  서울/경기
44  최지훈    25     남      건축가   경상북도
45  정은우    67     남  빅데이터전문가   충청남도
46  풀스택    37     남       모델  서울/경기
47  프론트    27  NULL      건축가   경상북도
48  백엔드    36     여      개발자  서울/경기
49  김장고    43     남      개발자  서울/경기